/.cpcache/
/.lsp/.cache/
/.nrepl-port
/data
/deps.local.edn
/matrikkelen-adresse.csv
/datomic-*
/.clj-kondo/*/
/.clj-kondo/.lock
/opentelemetry-javaagent.jar
/resources/postnummere.csv
/.env.local
/adresse-import-*.edn
/config/*-secret.txt
/config/local-config.edn
/target/
/tf/.terraform/
/tf/.terraform.lock.hcl
/node_modules/
/dev-resources/public/js/
/dev-resources/public/portfolio-js/
/.shadow-cljs
/resources/public/tailwind-out.css
/.clerk
/tf-sandkasse/.terraform.lock.hcl
/tf-sandkasse/.terraform/
/exceptions.edn
/feil.edn
/notebooks/local/
/.local
/.nats-cache/
